{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Account</title>
<link rel="stylesheet" href="{% static 'styles/account.css' %}">
<div id="bd-title"><h2 class="main-title">Profile</h2></div>
<div class="profileBody container">
    <div id="userProfile" class="container">
        <!-- Profile settings -->
        <div id="profileSection">
            <div id="profilePic">
                <img id="profileImg" src="{{ profile_picture }}" alt="Profile Picture">
            </div>
            <h2 id="username-profile">{{ username|default:'user'|capfirst }}</h2>
        </div>
        <button id="changePhotoBtn" onclick="changePhoto()">Choose image</button>
    </div>
</div>
<h3 id="manage-book" class="main-title">Your books</h3>
<div class="profileBody">
    <div id="manageBooks" class="container"></div>
    <div class="container" id="bookshelf">
        <section id="borrowed-books">
            <h2 class="borrowed-title">Borrowed Books</h2>
            <div id="borrowed-books-list" class="container">
                <!-- The books will be dynamically added here -->
            </div>
        </section>
    </div>
</div>
<div class="container" id="bookshelf">
    <button id="log-out" onclick="logout()">Log Out</button>
</div>
<script src="{% static 'javascript/account.js' %}"></script>
{% endblock content %}
