{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/addingBook.css' %}" />
{% endblock style %}

{% block title %}
    Edit Book
{% endblock %}

{% block content %}
    <br />
    <br />
    <h2 class="main-title">Edit Book</h2>
    <form class="AddingBook" id="addBookForm" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      <br />
      <button type="submit" class="AddingBookBtn" id="AddingBookBtn" name="add_book">
        Save Changes
      </button>
    </form>
    <br />
    <br />
{% endblock %}