{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/LoginSignupStyle.css' %}"/>
{% endblock %}

{% block title %}
Login / Signup
{% endblock %}

{% block content %}
<div class="login_signup_section">
  <div class="LScontainer" id="LScontainer">
      <div class="signup">
          <form method="POST">
            {% csrf_token %}
              <h1 id="signuph1">Create Account</h1>
              <span>Enter your information to complete</span>
              <span>registeration</span>
              <div class="form_inputs">
                
                  {{ SignupForm }}

              </div><!--form inputs-->
              <button type="submit" id="signupinform" name="signup">Sign Up</button type="submit">
          </form>
            {% if message %}
            <div class="error-message">{{ message }}</div>
            {% endif %}
      
      </div><!-- end signup-->

      <div class="login">
          <form method="POST">
            {% csrf_token %}
              <h1>LogIn</h1>
              <span class="login_desc">Enter UserName and Password</span>
              <div class="form_inputs">
                  <!-- <input type="text" placeholder="User Name">
                  <input type="password" placeholder="Password"> -->
                  {{ loginForm }}
              </div><!--form input-->
              <button id="login_btn" type="submit" name="login">Log In</button>
          </form>
          {% if message %}
            <div class="error-message" style="text-align: center; color: red;">{{ message }}</div>
            {% endif %}
            {% if ID %}
                <div class="error-message" style="text-align: center; color: red;">{{ ID }}</div>
            {% endif  %}
      </div><!-- end login-->

      <div class="circle-container">
          <div class="circle">
              <div class="circle_left">
                  <h1>Already have account!</h1>
                  <span>Enter your personal details to use</span>
                  <span> all of site features</span>
                  <button id="Login">Log In</button>
              </div><!--circle left-->
              <div class="circle_right">
                  <h1>Welcome to Chapterfly!</h1>
                  <span>Register with your personal details to make</span><span>an account in Chapterfly</span>
                  <button id="register">Sign Up</button>
              </div><!--circle right-->
          </div><!--circle-->
      </div><!--circle-container-->

  </div><!--container-->
</div><!--end login signup section-->
<script src="{% static 'javascript/LoginSignupJS.js' %}"></script>  {% comment %} this is for toggle {% endcomment %}
<script src="{% static 'javascript/adminORuser.js' %}"></script>

{% endblock content %}

