{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/views.css' %}" />
<link rel="stylesheet" href="{% static 'styles/searchStyle.css' %}">
<link rel="stylesheet" href="{% static 'styles/buttons.css' %}">
<style>
    .message-container {
        display: none;
      }

    .message-container.show {
        display: block; {% comment %} /* Show the container when needed */ {% endcomment %}
    }
    .message-container{
      width: 350px;
      background-color: white;
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%,-50%);
      text-align: center;
      padding: 0 30px 20px;
      border-radius: 7px;
      letter-spacing: 1px;
    }
    .popup_img{
      width: 100px;
      margin-top:-50px;
      box-shadow: 0 2px 5px rgba(0, 0, 0 , 0.2);
      border-radius: 50%;
    }
    .popup_btn{
      width: 100%;
      background-color: var(--secondary);
      color: white;
      margin-top: 20px;
      border: 0px;
      height: 35px;
      font-size: 18px;
      letter-spacing: 1.5px;
      text-align: center;
      border-radius: 3px;
    }
    .container_popup_msg{
      color: #767676;
    }
    
    .message-container h2{
      color: var(--secondary);
    }
</style>
{% endblock %}

{% block title %}
Chapterfly - View
{% endblock %}

{% block content %}
        
        {% comment %} SEARCH FORM  {% endcomment %}
        <form method="GET" class="form-inline" action="" id="searchBar">
            <div class="input-group">
                <input type="search" class="form-control" name="search-name" onkeyup="showResults(this.value)" title="Search for book">
                <div class="input-group-append">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <div id="search-results">
             {% comment %} search results will be displayed here  {% endcomment %}
        </div>

        <div class="row">
        <ul class="nav">
            {% for cat in category|slice:'6' %}
            <a href="#" class="nav-link bg-primary">
            <li class="nav-item cat{{cat.id}}">{{cat.name}}</li>
            </a>
            {% endfor %}
        </ul>

        {%if not is_admin%}
        <div id="message-container" class="message-container">
            <img class="popup_img" src="{% static 'images/popup/CorrectMark.png' %}">
            <h2 id="popup_statue">Thank You!</h2>
            <div class="container_popup_msg" id="container_popup_msg">
            </div>
            <button class="popup_btn" id="popup_btn">OK</button>
        </div>{% comment %} message-container {% endcomment %}
        <div id="user" class="hidden">        
        <div id="books">
                 {% comment %} books items will be dynamically added here {% endcomment %}
                <div class="featured" id="featured">
                  <div class="container" id="container1">
                    {% for book in books %}
                        <div class="book box bookhide book{{book.category.id}}">
                            {% if book.img %}
                                <img src="{{book.img.url}}" alt="Book Image" class="book-img" sytle="width: 600px"/>

                            {% else %}
                            <img src="https://placehold.co/200x300" alt="Book Image" class="book-img" sytle="width: 600px"/>

                            {% endif %}
                            <div class="content">
                                <h3>{{book.name}}</h3>
                                <div class="status">
                                    <span>Status: </span>
                                    {% if book.status == 'available' %}
                                        <h5 style="color: #198754;">available</h5>

                                    {% elif book.status == 'borrowed' %}
                                        <h5 style="color: #FFC107;">borrowed</h5>

                                    {% endif %}

                                </div>
                                {% if book.status == 'available' %}
                                    <div class="add-to-cart">
                                        {% comment %} <button class="addToCart-btn" type="button" id="add-to-cart-button" onClick="addToCart({{book.id}}, '{{book.name}}', {{book.price}}, {% if book.img %}'{{book.img.url}}'{% else %}'https://placehold.co/200x300'{% endif %}, '{{book.category}}')">Add to cart</button> {% endcomment %}
                                        <form action="{% url 'add_to_cart' book.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" id="add-to-cart-button" data-id="{{ book.id }}" class="addToCart-btn">Add to cart</button>
                                        </form>
                                    </div>
                                {% endif %}
                                <div class="links info">
                                    <a href="{% url 'details' book.id %}" id="{{book.id}}">Read more<i class='fas fa-long-arrow-alt-right'></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                  </div>
                </div>
        </div>
    </div>
    </div>
{% else %}
    <div id="admin" class="hidden">
        <h2 class="main-title">Available Books</h2>
        <table id="bookTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% comment %} books items will be dynamically added here  {% endcomment %}
                {% for book in books %}
                    {% if book.status == 'available' %}
                        <tr class="bookhide book{{book.category.id}}">
                            <td>{{book.id}}</td>
                            <td>{{book.name}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.category}}</td>
                            <td>{{book.description}}</td>
                            <td class="EditDelete">
                                <a href="{% url 'edit_book' book.id %}" class="edit">Edit</a>
                                <a href="{% url 'delete_book' book.id %}" class="delete">Delete</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

        </table>    
        
        <br>
        {% comment %} Add new book {% endcomment %}
        <div class="addingBook main-cta">
            <div class="container">
                <div class="name"><i class="fa-solid fa-book-open icon"></i> Adding Book</a></div>
                <h2>Ready to add a new book to our library?</h2>
                <p>
                    Join our community and start adding books with ease!
                </p>
                <div class="cta-buttons">
                <a href="{% url 'add_book' %}" class="primary-button">Add New Book</a>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    {% comment %} Scripts {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        //{% comment %} Show books by category {% endcomment %}
        $(document).ready(function() {
            $('ul.nav').on('click', 'li.nav-item', function() {
                var categoryId = $(this).attr('class').match(/cat(\d+)/)[1];
                $(".bookhide").hide();
                $(".book" + categoryId).show();
            });
        });
        /*{% for book in books %}
            $(".cat{{book.category.id}}").click(function(){
                $(".bookhide").hide();
                $(".book{{book.category.id}}").show();
            });
        {% endfor %}*/
        
        //{% comment %} Search {% endcomment %}
        function showResults(str) {
                if (str.length === 0) {
                    // document.getElementById("books").innerHTML = books.innerHTML;
                    return;
                }

                const xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 200) {
                        // Create a temporary container for the response
                        const tempDiv = document.createElement('div');
                        tempDiv.innerHTML = this.responseText;

                        // Interact with the new content using tempDiv
                        const books = tempDiv.querySelector("#books");

                        // Once done with manipulations, insert the content into the actual DOM
                        document.getElementById("books").innerHTML = books.innerHTML;
                        
                    }
                };
        xhttp.open("GET", "/view/?search-name=" + str, true);
        xhttp.send();
    }

    const messageContainer = document.getElementById('message-container');
    const container_popup_msg = document.getElementById('container_popup_msg');
    const popup_statue =document.getElementById('popup_statue');
    const popup_btn = document.getElementById('popup_btn');
    //{% comment %} Add to cart button {% endcomment %}
    $(document).on('click', '.addToCart-btn', function(e){
        e.preventDefault();
        messageContainer.classList.add('show');

        var bookId = $(this).data('id');
        var cartURL = `/add_to_cart/${bookId}/`;
        
        $.ajax({
            type: 'POST',
            url: cartURL,
            data: {
                'book_id': bookId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response){
                container_popup_msg.innerHTML = `<p>${response.message}</p>`;
            },
            error: function(response){
                container_popup_msg.innerHTML = '<p>An error occurred. Please try again.</p>';
                popup_statue.textContent = 'Error';
            }
        });
    });
    
popup_btn.onclick = function(){
    messageContainer.classList.remove('show');
  }
    </script>
{% endblock content %}
{% block extra_scripts %}
{% comment %}
<script src="{% static 'javascript/adminORuserNovels.js' %}"></script>
{% endcomment %}
{% endblock extra_scripts %}