{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/views.css' %}" />
{% endblock style %}

{% block title %}
Chapterfly - View
{% endblock title %}

{% block content %}
        <!-- SEARCH FORM -->
        <form method="GET" class="form-inline" action="" id="searchBar">
            <div class="input-group">
                <input type="search" class="form-control" name="search-name" onkeyup="showResults(this.value)">
                <div class="input-group-append">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <div id="search-results">
             {% comment %} search results will be displayed here  {% endcomment %}
        </div>

        <div class="row">
        <ul class="nav">
            {% for cat in category|slice:'6' %}
            <li class="nav-item cat{{cat.id}}">
                <a href="#" class="nav-link bg-primary">{{cat.name}}</a>
            </li>
            {% endfor %}
        </ul>
        </div>
        <div id="user" class="hidden">        
        <div id="books">
                <!-- books items will be dynamically added here -->
                <div class="featured" id="featured">
                  <div class="container" id="container1">
                    {% for book in books %}
                        <div class="book box bookhide book{{book.category.id}}">
                            {% if book.img %}
                                <img src="{{book.img}}" alt="Book Image" class="book-img" sytle="width: 600px"/>

                            {% else %}
                            <img src="https://placehold.co/200x300" alt="Book Image" class="book-img" sytle="width: 600px"/>

                            {% endif %}
                            <div class="content">
                                <h3>{{book.name}}</h3>
                                <div class="status">
                                    <span>Status: </span>
                                    {% if book.status == 'available' %}
                                        <h5 style="color: #198754;">available</h5>

                                    {% elif book.status == 'borrowed' %}
                                        <h5 style="color: #FFC107;">borrowed</h5>

                                    {% endif %}

                                </div>
                                {% if book.status == 'available' %}
                                    <div class="add-to-cart">
                                        <button class="addToCart-btn" type="button" id="add-to-cart-button" onClick="addToCart({{book.id}}, '{{book.name}}', {{book.price}}, {% if book.img %}'{{book.img.url}}'{% else %}'https://placehold.co/200x300'{% endif %}, '{{book.category}}')">Add to cart</button>
                                    </div>
                                {% endif %}
                                <div class="links info">
                                    <a href="{% url 'details' book.id %}" id="{{book.id}}">Read more<i class='fas fa-long-arrow-alt-right'></i></a>
                                </div>
                            </div>
                            
                        </div>
                    {% endfor %}
                    
                  </div><!--container-->
                </div><!--featured-->
        </div>
    </div>
    </div>

    <div id="admin" class="hidden">
        <h2 class="main-title">Available Books</h2>
        <table id="bookTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% comment %} books items will be dynamically added here  {% endcomment %}
                {% for book in books %}
                <tr class="bookhide book{{book.category.id}}">
                    <td>{{book.id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.description}}</td>
                    <td class="EditDelete">
                        <a href="{% url 'edit_book' book.id %}" class="edit">Edit</a>
                        <a href="{% url 'delete_book' book.id %}" class="delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>    
        
        <br>
        {% comment %} Add new book {% endcomment %}
        <div class="addingBook main-cta">
            <div class="container">
                <div class="name"><i class="fa-solid fa-book-open icon"></i> Adding Book</a></div>
                <h2>Ready to add a new book to our library?</h2>
                <p>
                    Join our community and start adding books with ease!
                </p>
                <div class="cta-buttons">
                <a href="{% url 'add_book' %}" class="primary-button">Add New Book</a>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %} Scripts {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        {% for book in books %}
            $(".cat{{book.category.id}}").click(function(){
                $(".bookhide").hide();
                $(".book{{book.category.id}}").show();
            });
        {% endfor %}
        function showResults(str) {
                if (str.length === 0) {
                    document.getElementById("search-results").innerHTML = "";
                    return;
                }

                const xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 200) {
                        // Create a temporary container for the response
                        const tempDiv = document.createElement('div');
                        tempDiv.innerHTML = this.responseText;

                        // Interact with the new content using tempDiv
                        const header = tempDiv.querySelector("#header");
                        if (header) {
                            header.innerHTML = "";
                        }
                        const searchBar = tempDiv.querySelector("#searchBar");
                        if (searchBar) {
                            searchBar.innerHTML = "";
                        }

                        // Once done with manipulations, insert the content into the actual DOM
                        document.getElementById("search-results").innerHTML = tempDiv.innerHTML;
                    }
                };
        xhttp.open("GET", "/view/?search-name=" + str, true);
        xhttp.send();
    }

    </script>        
    <script src="{% static 'javascript/cart.js' %}"></script>
{% endblock content %}
{% block extra_scripts %}
{% comment %}
<script src="{% static 'javascript/adminORuserNovels.js' %}"></script>
{% endcomment %}
{% endblock extra_scripts %}
