body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.AddingBook {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.AddingBook label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form_field {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.form_field:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.AddingBook input, .description {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.AddingBook input:focus, .description:focus{
    outline: none;
    border: 1px solid #212529;
}

.form_field:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.description {
    min-height: 100px;
    width: 100%;
    resize: none;
}

.AddingBookBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

.AddingBookBtn:hover {
    background-color: #0056b3;
}

.message-container {
    display: none;
}

.message-container.show {
    display: block; /* Show the container when needed */
}

.message-container{
    width: 350px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 20px;
    border-radius: 7px;
    letter-spacing: 1px;
}

.popup_img{
    width: 100px;
    margin-top:-50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0 , 0.2);
    border-radius: 50%;
}

.popup_btn{
    width: 100%;
    background-color: var(--secondary);
    color: white;
    margin-top: 20px;
    border: 0px;
    height: 35px;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    border-radius: 3px;
}

.container_popup_msg{
    color: #767676;
}

.message-container h2{
    color: var(--secondary);
}