.input-group {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .input-group .form-control {
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: var(--bgcolor);
    width: 230px;
  }
  .input-group-append button {
    width: 50px;
    height: 28px;
    background-color: var(--primary);
  }
  .input-group-append i {
    color: white;
    font-size: 18px;
  }
  
  