/********************************************* User *******************************************/
  .books {
    display: flex;
    justify-content: space-evenly;
    
  }
  .books .book {
    max-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .add-to-cart {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: none; /* Hide it by default */
    
}

.box:hover .add-to-cart {
    display: block; /* Show it on hover */
}

.addToCart-btn{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    visibility: visible;
    box-sizing: border-box;
    font: inherit;
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    background-color: #58a3da;
    border-radius: 18px;
    padding: 0 10px;
    height: 34px;
    line-height: 100%;
    border: none;
    position: relative;
    top: -2px;
    margin: 0 1px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transform: translateY(0px);
}

.addToCart-btn:hover {
    background-color: transparent;
    border: 2px solid #58a3da;
    color: #000;
}
  /* End User */

  /********************************************* Admin *****************************************/
  #bookTable {
    border-collapse: collapse;
    /* width: 100%; */
    max-width: 90%;
    margin: 0 auto;
  }
  
  #bookTable th,
  #bookTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #bookTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #bookTable tr:hover {
    background-color: #ddd;
  }
  
  #bookTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #58a3da;
    color: white;
  }
  
  .EditDelete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .delete, .edit {
    width: 100%;
    border: none; 
    color: white; 
    padding: 5px 5px;
    text-align: center; 
    text-decoration: none;
    font-size: 14px; 
    cursor: pointer;
    border-radius: 4px;
  }

  .delete {
    background-color: #ef161a;
    margin-top: 10px;
    margin-left: auto;
  }

  .delete:hover {
    background-color: #ef161abb;
  }

  .edit{
    background-color: #4caf50; 
    margin-top: 20px;
    margin-right: auto;
  }
  
  .edit:hover {
    background-color: #46d74b;
  }

  /* End Admin */
